In [1]:
print("Hola mundo")

Hola mundo

In [2]:
## Variables primitivas
entero = 3 
decimal = 1.1
nombre = "Pamela"
segundo_nombre = 'Abigail'
casado = False
profesor = True
hijos = None
print(type(entero)) #int
print(type(decimal)) #float
print(type (nombre)) #str
print(type(segundo_nombre)) #str
print(type(casado)) #boolean
print(type(profesor)) #boolean
print(type(hijos)) #NoneType

texto = """asadasadsdadasdasdad
asdasdad asdadas
asdadsdasdadadasdadssd
asdasdadasdasdasdasd"""

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [4]:
print(entero)
entero = decimal
entero = hijos
entero = casado
entero = nombre
print (entero)

1.1
Pamela

In [14]:
#condicion (boolean)
#Truty
#Falsy
tuplas = ()
listas = []
diccionarios = {}
print(type(tuplas)) #tuple
print(type(listas))  #list
print(type(diccionarios)) #dict

if(""): #falsy
    print("Truty")
else:
    print("Fasly")

if("a"): #truty
    print("Truty")
else:
    print("Fasly")
    
if(0): #falsy
    print("Truty")
else:
    print("Fasly")
          
if(-1): #truty
    print("Truty")
else:
    print("Fasly")

if(1): #falsy
    print("Truty")
else:
    print("Fasly")

if(0.00): #falsy
    print("Truty")
else:
    print("Fasly")

if(0.01): #truty
    print("Truty")
else:
    print("Fasly")

if(None): #falsy
    print("Truty")
else:
    print("Fasly")

if(()): #falsy
    print("Truty")
else:
    print("Fasly")

if((1,2)): #truty
    print("Truty")
else:
    print("Fasly")

if([]): #falsy
    print("Truty")
else:
    print("Fasly")

if(["a","b"]): #truty
    print("Truty")
else:
    print("Fasly")

if({}): #falsy
    print("Truty")
else:
    print("Fasly")
    
if({nombre: "Pamela"}): #truty
    print("Truty")
else:
    print("Fasly")

<class 'tuple'>
<class 'list'>
<class 'dict'>
Fasly
Truty
Fasly
Truty
Truty
Fasly
Truty
Fasly
Fasly
Truty
Fasly
Truty
Fasly
Truty

In [15]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
arreglo[2:5] #Filtrar ( [2, 5[)
arreglo[2:]
arreglo[:7]
arreglo[-1]
arreglo[2:-1] #Filtrar ( [2, -1[)
arreglo[-8:-1]
arreglo[-9:]
arreglo[:-2]
arreglo[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
print(type(7 in arreglo))
print (7 in arreglo)

<class 'bool'>
True

In [26]:
len(arreglo)

10

In [27]:
arreglo.append(11)
arreglo

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [28]:
arreglo.pop()

11

In [33]:
arreglo.insert(1, 1.1)
arreglo

[1, 1.1, 1.1, 1.1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
for numero in arreglo:
    print(numero)
contador = 0
while contador < 10:
    print(contador)
    contador+= 1

1
1.1
1.1
1.1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9

In [36]:
tupla_numeros =(1,2,3,4,5)
tupla_numeros

(1, 2, 3, 4, 5)

In [37]:
tupla_numeros[0:3]
len(tupla_numeros)
3 in tupla_numeros

True

In [48]:
pamela = {
    nombre: "Pamela",
    "apellido": 'Pachacama',
    'edad': 30,
    "sueldo": 1.1,
    hijos: None,
    casado: False,
    "mascotas": [ {nombre: "cachetes"} ],
}
pamela

{'Pamela': 'Pamela',
 'apellido': 'Pachacama',
 'edad': 30,
 'sueldo': 1.1,
 None: None,
 False: False,
 'mascotas': [{'Pamela': 'cachetes'}]}

In [54]:
pamela["apellido"] = "Gonzales"
pamela["apellido"]
pamela["mascotas"][0][nombre]
pamela.keys()
pamela.values()
"apellido" in pamela.values()
"apellido" in pamela.keys()

True

In [55]:
1 == 1 or 2 == 3 #True
1 == 1 and 2 == 3 #False

False